html, body {
    font-family: 'Recursive', sans-serif;
    scroll-behavior: smooth;
    background-color: #235BA8;
    font-size: 16px;
}

.title-section {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    text-align: center;
}

.episode-001 {
    text-align: left;
    margin-left: 20px;
}

.episode-picture {
    max-width: 25%;
    height: auto;
}