:root {
    --dark-cornflower-blue: #2A3B92;
    --lapis-lazuli: #235BA8;
    --raisin-black: #231E21;
    --maya-blue: #64BCE9;
    --white: #FFFFFF;
}

html, body {
    font-family: 'Recursive', sans-serif;
    scroll-behavior: smooth;
    background-color: #235BA8;
    font-size: 16px;
}

.nav-content {
    background-color: white;
}

.navbar {
    background: white;
}

.navbar-header {
    text-align: center;
}

.nav-logo {
    width: 10%;
    margin-left: 20px;
}

.nav-item {
    list-style: none;
    text-align: center;
}

.nav-item a:link {
    color: black;
}

.nav-item a:visited {
    color: var(--dark-cornflower-blue);
}

.nav-item a:active {
    color: blue;
}

.welcome-section {
    text-align: center;
}

.episodes-section-header {
    margin: 30px 30px 30px 30px;
    text-align: center;
}

.container-fluid {
    width: 80%;
}
/* .episodes-section #episodes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* #episodes-container {
    display: flex;
    flex-wrap: wrap;
} */

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

/* @media only screen and (max-width: 1650px) {
    .row {
        display: flex;
        flex-wrap: wrap;

    }
} */

.content-section {
    text-align: center;
    margin: 5rem 5rem 5rem 5rem;
}

@media only screen and (max-width: 500px) {
    .content-section {
        display: flex;
        flex-direction: column;
    }
}

.content-tile {
    padding: 20px;
    font-size: 30px;
}

.card {
    margin: 2rem;
    width: 5rem;
}

.episode-image {
    align-items: center;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.btn {
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.contact-section h3 {
    text-align: center;
}

.contact-links {
    text-align: center;
}

@media only screen and (max-width: 500px) {
    .contact-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.contact-tile {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 10px 10px 10px 10px;
}
